h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 36px;
  letter-spacing: 2.2px;
  word-spacing: 2.8px;
  color: #5165B7;
  font-weight: 400;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

h2 {
  padding-top: 0;
  padding-bottom: 0;
  border: 0;
  margin: 0;
}

h3 {
  line-height: 0;
  font-family: Georgia, serif;
  font-size: 16px;
  letter-spacing: 0;
  word-spacing: 2px;
}

h4 {
  line-height: 0;
  font-style: italic;
  font-size: 90%;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 3px;
  width: 10%;
}

table.center {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: center;
}

div.container {
  column-count: 3;
}

table#table1 {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:100px;
}
tr,td {

}


/*********************Classes*********************/
.name{
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 31px;
  letter-spacing: 2.2px;
  word-spacing: 2.8px;
  color: #5165B7;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
  line-height: 0.75;
  width:auto;
  margin: auto;
  text-align: left;
}
